@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

body {
    color: #00000075;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fundo 2s linear infinite alternate both;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 18px;
    background-color: #ab226d;
    position: relative;
}

.logo .maiorq {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%) rotate(45deg);
    animation: movimento linear 5s;
}

.logo .maiorq::after,
.logo .maiorq::before {
    content: "";
    width: 30px;
    height: 8px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 10;
}

.logo .maiorq::before {
    width: 8px;
    height: 30px;
    left: initial;
    right: 0;
}

.logo .underline {
    width: 25px;
    height: 7px;
    background-color: white;
    position: absolute;
    bottom: 30px;
    right: 20px;
    animation: underline linear 5s;
}

p {
    line-height: 36px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 16px;
}

.textoEscola {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #00000075;
    width: 30ch;
    animation: digitar 5s steps(50), piscar 0.5s step-end alternate;
}

.textoAluno {
    color: #ab226d;
    animation: aparecer 5.5s both;
}

ul {
    display: flex;
    padding-top: 20px;
}

ul li {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 36px;
    border: 2px solid #00000030;
    overflow: hidden;
    animation: aparecerLogo 2s linear 3s both;
}

ul li img {
    margin-top: 14px;
    margin-left: 13px;
}

@keyframes digitar {
    0% {
        width: 0;
    }
}

@keyframes piscar {
    50% {
        border-color: transparent;
    }
}

@keyframes underline {
    0% {
        right: 20px;
        bottom: 80px;
        rotate: 180deg;
    }
    100% {
        bottom: 30px;
        right: 20px;
    }
}

@keyframes movimento {
    0% {
        left: 50px;        
    }
    100% {
        left: 10px;        
    }
}

@keyframes fundo {
    0% {
        background: #f4f5f5;
    }
    100% {
        background: #ab226d50;
    }
}

@keyframes aparecer {
    0% {
        letter-spacing: 2em;
        transform: translateZ(400px) translateY(-500px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@keyframes aparecerLogo {
    0% {
        transform: translateY(300px) rotate(540deg);
        opacity: 0;
    }
    100% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}
